.fyp-panel{
    background-color: #e0d7f6;
    align-items: center;
    border-radius: 10px;
    height: 880px;
    width: 440px;
}
.text-head{
    text-align: left;
    padding: 40px;
    font-size:xx-large ;
    font-style: oblique;
    font-weight: bolder;
}
.text-head-act{
    text-align: center;
    color: #531CB9;
    padding: 30px;
    font-size: xx-large ;
    font-weight: bolder;
}
.text-act{
    text-align: center;
    font-size: medium;
    font-weight: bold;
}
.fyp-img{
    align-items: left;
    width: 350px;
    height: 350px;
    margin-left: 20px;
}
.act-img{
    border-radius: 360px;
    align-items: center;
    margin-left: 50px;
    width: 300px;
}

.text-fyp{
    margin-top: 20px;
}

.card {
    background-color: #e0d7f6;
    height: 330px;
    width: 440px;
}
.card-text{
    font-size: large;
}
.offer-img{
    height: 260px;
}

@media (min-width: 768px){
    .fyp-panel{
        background-color: #e0d7f6;
        align-items: center;
        border-radius: 10px;
        height: 800px;
        width: 440px;
    }
    .text-head{
        text-align: left;
        font-size:xx-large ;
        font-style: oblique;
        font-weight: bolder;
        padding-top: 50px;
    }
    .text-head-act{
        text-align: center;
        color: #531CB9;
        padding: 30px;
        font-size: xx-large ;
        font-weight: bolder;
    }
    .text-act{
        padding-top: 20px;
        text-align: center;
        font-size: medium;
        font-weight: bold;
    }
    .fyp-img{
        align-items: center;
        width: 350px;
        height: 350px;
        margin-left: 20px;
    }
    .act-img{
        border-radius: 360px;
        align-items: center;
        margin-left: 200px;
        width: 300px;
    }
    
    .text-fyp{
        margin-top: 30px;
    }
}

@media (min-width: 991px){
    .fyp-panel{
        background-color: #e0d7f6;
        align-items: center;
        border-radius: 10px;
        height: 500px;
        width: 440px;
    }
    .text-head{
        text-align: left;
        font-size:xx-large ;
        font-style: oblique;
        font-weight: bolder;
        padding-top: 50px;
    }
    .text-head-act{
        text-align: center;
        color: #531CB9;
        padding: 30px;
        font-size: xx-large ;
        font-weight: bolder;
    }
    .text-act{
        padding-top: 100px;
        text-align: right;
        font-size: medium;
        font-weight: bold;
    }
    .fyp-img{
        align-items: left;
        width: 350px;
        height: 350px;
        margin-left: 20px;
    }
    .act-img{
        border-radius: 360px;
        align-items: left;
        width: 300px;
    }
    
    .text-fyp{
        margin-top: 80px;
    }

    .card {
        background-color: #e0d7f6;
        height: 330px;
        width: 440px;
    }

    .card-text{
        font-size: large;
    }
}