.fyp-panel{
    background-color: #e0d7f6;
    align-items: center;
    border-radius: 10px;
    height: 1050px;
    width: 440px;
}
.text-head-fyp{
    color: #531CB9;
    text-align: center;
    padding: 40px;
    font-size:xx-large ;
    font-style: oblique;
    font-weight: bolder;
}
.text-head-act{
    text-align: center;
    color: #531CB9;
    padding: 30px;
    font-size: xx-large ;
    font-weight: bolder;
}
.text-body-act{
    text-align: center;
    font-size: medium;
    font-weight: bold;
}
.fyp-img{
    width: 350px;
    height: 350px;
    margin-left: 30px;
    margin-top: -5px;
}
.act-img{
    border-radius: 360px;
    align-items: center;
    margin-left: 110px;
    width: 300px;
}

.text-fyp{
    margin-top: 20px;
    font-size: large;
}

.card-fyp {
    background-color: #e0d7f6;
    height: 330px !important;
    width: 440px !important;
}

.card-text-fyp{
    font-size: large;
    margin-top: 10px;
}
.offer-img{
    height: 260px;
}

.klik-regist-fyp {
    margin-top: 25px !important;
    align-items: center;
}

@media (min-width: 768px){
    .fyp-panel{
        background-color: #e0d7f6;
        align-items: center;
        border-radius: 10px;
        height: 900px;
        width: 440px;
    }
    .text-head-fyp{
        color: #531CB9;
        text-align: center;
        font-size:xx-large ;
        font-style: oblique;
        font-weight: bolder;
        padding-top: 50px;
    }
    .text-head-act{
        text-align: center;
        color: #531CB9;
        padding: 30px;
        font-size: xx-large ;
        font-weight: bolder;
    }
    .text-body-act{
        padding-top: 20px;
        text-align: center;
        font-size: larger;
        font-weight: bold;
    }
    .fyp-img{
        align-items: center;
        width: 350px;
        height: 350px;
        margin-left: 170px;
        margin-top: -5px;
    }
    .act-img{
        border-radius: 360px;
        align-items: center;
        margin-left: 200px;
        width: 300px;
    }
    
    .text-fyp{
        margin-top: 30px;
        font-size: large;
    }

    .card-fyp {
        background-color: #e0d7f6;
        height: 310px !important;
        width: 350px !important;
    }

    .card-text-fyp{
    font-size: large;
    text-align: center;
    margin-top: 15px;
}
    
    .offer-img{
        height: 220px !important;
        width: 220px !important;
        margin-top: 10px;
        margin-left: 48px !important;
    }

    .klik-regist-fyp {
        margin-top: 110px;
        align-items: center;
      }
}

@media (min-width: 991px){
    .fyp-panel{
        background-color: #e0d7f6;
        align-items: center;
        border-radius: 10px;
        height: 550px;
        width: 440px;
    }
    .text-head-fyp{
        text-align: left;
        color: #531CB9;
        font-size:xx-large ;
        font-style: oblique;
        font-weight: bolder;
        padding: 10px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .text-head-act{
        text-align: center;
        color: #531CB9;
        padding: 30px;
        font-size: xx-large ;
        font-weight: bolder;
    }
    .text-body-act{
        padding-top: 90px;
        text-align: right;
        font-size: medium;
        font-weight: bold;
    }
    .fyp-img{
        align-items: left;
        width: 350px;
        height: 350px;
        margin-left: 20px;
        margin-top: 20px;
    }
    .act-img{
        border-radius: 360px;
        align-items: left;
        margin-left: 50px;
    }
    
    .text-fyp{
    margin-top: 130px;
    font-size: medium;
    margin-left: -15px;
    }

    .click-regist-fyp {
        margin-top: 100px;
        align-items: left;
        margin-left: -250px;
      }

      .card-fyp {
    background-color: #e0d7f6 !important;
    height: 330px !important;
    width: 440px !important;
}

.offer-img{
    height: 260px !important;
    width: 290px !important;
    margin-left: 58px !important;
    margin-top: 5px;
}
    .card-text-fyp{
    font-size: large;
    text-align: center;
    margin-top: 8px;
}
}